main.flex.min-h-screen.flex-col.items-center.justify-center.p-24 {
    background-image: url(https://i.giphy.com/xTiTniuHdUjpOlNo1q.webp);
    background-size: cover;
    background-position: top;
    padding: 40px !important;
}

h1.text-4xl.font-bold.mb-8 {
    color: white;
    font-family: monospace;
    font-weight: 100;
}

button.bg-blue-500.hover\:bg-blue-700.text-white.font-bold.py-2.px-4.rounded {
    background: black;
}

.button-click {
  animation: buttonClick 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) both;
}

@keyframes buttonClick {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05); /* Slightly smaller scale for smoother effect */
  }
  100% {
    transform: scale(1.15);
  }
}

button.bg-green-500.hover\:bg-green-700.text-white.font-bold.py-2.px-4.rounded {
    background: #00000042;
}

html {
    font-family: monospace !important;
}

h2.text-2xl.font-semibold {
    color: white;
    font-family: monospace;
    font-weight: 100;
}

button.bg-yellow-500.hover\:bg-yellow-600.text-white.font-bold.py-2.px-4.rounded.mb-8 {
    background: url(https://static.vecteezy.com/system/resources/thumbnails/012/595/172/small/realistic-white-cloud-png.png);
    background-size: cover;
    width: 300px;
    height: 200px;
    position: absolute;
    bottom: -50px;
    color: black;
    font-family: monospace;
}